#card {
    width: 33%;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  #card:hover{
    background-color: blueviolet;
    transition: all 1s;
  }
  
  #card h4 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  #card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  
  .card-modo-claro {
    border: 1px solid #edecec;
  }
  
  .card-modo-claro h4 {
    color: #000000;
  }
  
  .card-modo-claro p {
    color: #ffffff;
  }
  
  .card-modo-escuro {
    border: 1px solid #fffffff8;
  }
  
  .card-modo-escuro h4{
    color: #ffffff;
  }
  
  .card-modo-escuro p {
    color: #ffffff;
  }
  
  .primeiroParagrafo {
    margin-bottom: 5px;
  }
  
  .segundoParagrafo {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    #card {
      width: auto;
    }
  }