#secaoExpDeTrab {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.secao-modo-claro {
	background-color: #EE5AA5;
}

.secao-modo-escuro {
  background-color: #000000;
}

#container-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#container-texto h2 {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 35px;
}

#container-texto h2::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 4px;
  background-color: blueviolet;
}

#container-texto p {
  font-size: 16px;
  font-weight: 400;
  max-width: 770px;
  margin-bottom: 70px;
}

.container-texto-modo-claro h2{
	color: #ffffff;
}

.container-texto-modo-claro p {
	color: #ffffff;
}

.container-texto-modo-escuro {
  color: #ffffff;
}

.container-cards {
  display: flex;
  justify-content: center;
}

.limitar-secao {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container-cards {
    flex-direction: column;
  }
}